<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
  
                <div class="row">
                    <h5 class="mb-3"><a href="#!" class="text-body"><i
                        class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                  <hr>
  
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-1">Shopping cart</p>
                    </div>
                    </div>
                    <div class="col-sm-8 details">
                        <ul *ngFor="let item of cartItems">
                            <li>
                              <img [src]="item.productImageUrl" alt="" />
                            </li>
                            <li>
                              <span> {{ item.productShortName }}</span>
                            </li>
                            <li>
                              <span> Price : {{ item.productPrice }}</span>
                            </li>
                            <li>
                              <span> Quantity : {{ item.quantity }}</span>
                            </li>
                            <li>
                                <a (click)="DeleteProduct(item.cartId)" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                            </li>
                          </ul>
                    </div>
                    <div class="col-sm-4 summary">
                      <h3>Summary</h3>
                      <ul>
                        <li>
                          <span>Amount:</span><span>{{getSubtotal()}}</span>
                        </li>
                        <li>
                          <span>Tax:</span><span>{{ getPriceSummary().tax}}</span>
                        </li>
                        <li>
                          <span>Delivery:</span><span>{{getPriceSummary().delivery}}</span>
                        </li>
                        <li>
                          <span>Discount:</span><span>{{getPriceSummary().discount}}</span>
                        </li>
                        <li>
                          <span><h4>Total</h4></span>
                          <span><h4>{{getPriceSummary().total}}</h4></span>
                        </li>
                        <a routerLink="/Checkout">
                        <button  class="btn btn-danger">
                          Checkout
                        </button></a>
                      </ul>
                    </div>
                  </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>







   <!--   <ul *ngFor="let item of cartItems">
                            <li>
                              <img [src]="item.productImageUrl" alt="" />
                            </li>
                            <li>
                              <span> {{ item.productShortName }}</span>
                            </li>
                            <li>
                              <span> Price : {{ item.productPrice }}</span>
                            </li>
                            <li>
                              <span> Quantity : {{ item.quantity }}</span>
                            </li>
                            <li>
                              <button class="form-button" (click)="DeleteProduct(item.cartId)">
                                Remove To Cart
                              </button>
                            </li>
                          </ul>--> 